.main {
    display: flex;
}
.card-body {
    background-color: white;
}
.sidenavlinks a, .librarybtn, .academicbtn, .financesbtn, .peoplebtn{
    padding: 3px 4px 3px 8px;
    display: block;
    color: white;
    background: none;
    text-align: left;
    cursor: pointer;
    outline: none;
    border: none;
    width: 100%;
}
.fa-angle-left,.fa-angle-down {
    float: right;
    margin-top: 5px;
}
.sidenav a:hover, .librarybtn:hover, .academicbtn:hover, .financesbtn:hover, .peoplebtn:hover {
    color: #f1f1f1;
    background-color: #47d147;
  }
.library-dropdown,.academics-dropdown,.finances-dropdown,.people-dropdown {
    background-color: whitesmoke;
    padding-left: 20px;
}
.library-dropdown a,.academics-dropdown a,.finances-dropdown a,.people-dropdown a{
    text-decoration: none;
    color: black;

}
.sidenav {
    width: 20%;
    height: 100vh;
    overflow-y: auto;
} 
.newsidenav {
    display: none;
    height: 100vh;
    overflow-y: auto;
}
.maincontent {
    width: 80%;
    height: 100vh;
    overflow-y: auto; 
}
.newmaincontent {
    width: 100%;
    height: 100vh;
    overflow-y: auto;
}
.slogo {
    height: 50px;
    width: 100%;
}
.motto {
    background-color: #e6e6e6;
    text-transform: uppercase;
    margin-bottom: 0px;
    width: 100%;
}
.mottoheading {
    padding: 10px;
}
.card {
    height: 100vh;
    overflow-y: auto; 
}
.card-body {
    background-color: #808080;
    padding: 10px;
}
.sidenavlinks {
    background-color: #333333;
    height: 100%;
}
.togglesidebar {
    display: none;
}
.topnav {
    width: 100%;
    background-color: #333;
    padding: 5px;
}
.topnav a{
    text-decoration: none;
}
.navtoggler {
    font-size: 20px;
    font-weight: bolder;
    margin-right: 10px; 
}
#closesidenav {
    font-size: 20px;
    font-weight: bolder;
    margin-right: 10px; 
    display: none;
}
#user {
    background-color: #e6e6e6; 
    padding: 5px;
    border-radius: 25px;
}
.greeting {
    font-weight: bolder;
    font-size: 20px;
    color: honeydew;
}
.logouticon {
    float: right;
    font-size: 20px;
    font-weight: bolder;
    margin-right: 10px;
}
.modal {
    width: 100%;
}
#teacherregform,#studentregform,#parentregform {
    background-color: #e6e6e6;
}
#gradestable {
    max-height: 400px;
}
.parentmatching {
    background-color: #e6e6e6;
}
#studentselecttable, #tablediv {
    max-height: 200px;
}
#studentsselectionmodel {
    max-height: 400px;
    overflow-y: auto;
}
@media (max-width: 1060px){
	.sidenav {
       display: none;
    }
    .maincontent {
        width: 100%;
    }
    .newmaincontent {
        width: 100%;
    }
    .newsidenav {
        display: block;
        position: absolute;
        width: 40%;
        z-index: 99;
    }
    #closesidenav {
        display: block;
    }
}
@media (max-width: 467px){
    .newsidenav {
        display: block;
        position: absolute;
        width: 70%;
        z-index: 99;
    } 
}
.pdfbody {
    background-color: aqua;
}
.resultscomputation {
    background-color: #e6e6e6;
    padding: 5px;
}
.eliminated {
    background-color: #d9d9d9;
}
.loader {
    position: absolute;
    right: 40%;
    top: 50%;
    z-index: 100;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid blue;
    border-right: 16px solid green;
    border-bottom: 16px solid red;
    border-left: 16px solid pink;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  /* #computedresultsdiv {
      max-height: 200px;
  } */